<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      2048
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>

    <div class="game-board">
      <div *ngFor="let row of game.board.cells;" class="game-row">
        <div *ngFor="let value of row;" class="game-cell" [ngClass]="getCellClass(value)">{{value}}</div>
      </div>
    </div>
  </div>
</ion-content>
